@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    font-family: 'Raleway', sans-serif;
  }
  li{
    @apply px-4 cursor-pointer hover:text-white;
    
  }
  .banner{
    background: url('https://images.unsplash.com/photo-1492112007959-c35ae067c37b?q=80&w=1884&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat right center;
    background-size: cover;
  }
  .about{
    background: url('./assets/about.png') no-repeat right center;
    background-size: cover;
  }
}


